* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

button {
    padding: 10px 20px;
    width: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.scoreContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 15px;
    border: thin solid lightblue;
    border-radius: 10px;
}